# ===================================
# .NET / C# (Backend)
# ===================================
**/bin/
**/obj/
**/TestResults/

# ===================================
# Node / Angular (Frontend)
# ===================================
**/node_modules/
**/.angular/
**/dist/
**/tmp/
**/out-tsc/
**/coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ===================================
# IDEs e Editores
# ===================================
**/.idea/
**/.vscode/*
!**/.vscode/settings.json
!**/.vscode/tasks.json
!**/.vscode/launch.json
!**/.vscode/extensions.json
*.suo
*.user
*.userosscache
*.sln.docstates
.history/

# ===================================
# Logs & Variáveis de Ambiente
# ===================================
*.log
**/logs/
.env
.env.*
secrets.json

# ===================================
# Sistema Operacional
# ===================================
.DS_Store
Thumbs.db